<section class="destination-hero">
  <div class="container">
    <h2 class="destination-hero__title">
      <span class="destination-hero__title--focus">01</span>
      Pick your destination
    </h2>
    <div class="swiper destination-hero__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="destination-hero__content">
            <picture>
              <source srcset="img/image-moon.avif" type="image/avif">
              <source srcset="img/image-moon.webp" type="image/webp">
              <img loading="lazy" src="img/image-moon.png" class="image destination-hero__img" width="" height=""
                alt="moon">
            </picture>
            <div class="destination-hero__inner">
              <h3 class="destination-hero__subtitle">
                MOON
              </h3>
              <p class="destination-hero__text">
                See our planet as you’ve never seen it before. A perfect relaxing trip away to help regain perspective
                and come back
                refreshed. While you’re there, take in some history by visiting the Luna 2 and Apollo 11 landing sites.
              </p>

              <div class="destination-hero__parametrs">
                <span class="destination-hero__distance">384,400 km</span>
                <span class="destination-hero__time">3 days</span>
              </div>

            </div>
          </div>

        </div>
        <div class="swiper-slide">
          <div class="destination-hero__content">
            <picture>
              <source srcset="img/image-mars.avif" type="image/avif">
              <source srcset="img/image-mars.webp" type="image/webp">
              <img loading="lazy" src="img/image-mars.png" class="image destination-hero__img" width="" height=""
                alt="moon">
            </picture>
            <div class="destination-hero__inner">
              <h3 class="destination-hero__subtitle">
                MARS
              </h3>
              <p class="destination-hero__text">
                Don’t forget to pack your hiking boots. You’ll need them to tackle Olympus Mons, the tallest planetary
                mountain in our
                solar system. It’s two and a half times the size of Everest!
              </p>

              <div class="destination-hero__parametrs">
                <span class="destination-hero__distance">225 MIL. km</span>
                <span class="destination-hero__time">9 months</span>
              </div>

            </div>
          </div>

        </div>
        <div class="swiper-slide">
          <div class="destination-hero__content">
            <picture>
              <source srcset="img/image-europa.avif" type="image/avif">
              <source srcset="img/image-europa.webp" type="image/webp">
              <img loading="lazy" src="img/image-europa.png" class="image destination-hero__img" width="" height=""
                alt="moon">
            </picture>
            <div class="destination-hero__inner">
              <h3 class="destination-hero__subtitle">
                EUROPA
              </h3>
              <p class="destination-hero__text">
                The smallest of the four Galilean moons orbiting Jupiter, Europa is a winter lover’s dream. With an icy
                surface, it’s
                perfect for a bit of ice skating, curling, hockey, or simple relaxation in your snug wintery cabin.
              </p>

              <div class="destination-hero__parametrs">
                <span class="destination-hero__distance">628 MIL. km</span>
                <span class="destination-hero__time">3 years</span>
              </div>

            </div>
          </div>

        </div>
        <div class="swiper-slide">
          <div class="destination-hero__content">
            <picture>
              <source srcset="img/image-titan.avif" type="image/avif">
              <source srcset="img/image-titan.webp" type="image/webp">
              <img loading="lazy" src="img/image-titan.png" class="image destination-hero__img" width="" height=""
                alt="moon">
            </picture>
            <div class="destination-hero__inner">
              <h3 class="destination-hero__subtitle">
                TITAN
              </h3>
              <p class="destination-hero__text">
                The only moon known to have a dense atmosphere other than Earth, Titan is a home away from home (just a
                few hundred
                degrees colder!). As a bonus, you get striking views of the Rings of Saturn.
              </p>

              <div class="destination-hero__parametrs">
                <span class="destination-hero__distance">1.6 BIL. km</span>
                <span class="destination-hero__time">7 years</span>
              </div>

            </div>
          </div>

        </div>
      </div>
      <div class="destination-hero__nav">
      </div>

    </div>
  </div>
</section>
