<header class="header">

  <div class="header__content">
    <a href="">
      <img loading="lazy" src="img/logo.svg" class="image header__logo" width="" height="" alt="">
    </a>

    <nav class="nav" title="">
      <ul class="list-reset nav__list">
        <li class="nav__item">
          <a href="index.html" class="nav__link">
            <sapn class="nav__link--focus">00</sapn>
            HOME
          </a>
        </li>
        <li class="nav__item">
          <a href="destination.html" class="nav__link">
            <sapn class="nav__link--focus">01</sapn>
            DESTINATION
          </a>
        </li>
        <li class="nav__item">
          <a href="crew.html" class="nav__link">
            <sapn class="nav__link--focus">02</sapn>
            CREW
          </a>
        </li>
        <li class="nav__item">
          <a href="technology.html" class="nav__link">
            <sapn class="nav__link--focus">03</sapn>
            TECHNOLOGY
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <button class="btn-reset header__btn" data-burger>

  </button>
  <div class="menu" data-menu>

    <ul class="list-reset menu__list">
      <li class="menu__item">
        <a href="index.html" class="menu__link">
          00
          HOME
        </a>
      </li>
      <li class="menu__item">
        <a href="destination.html" class="menu__link">
          01
          DESTINATION
        </a>
      </li>
      <li class="menu__item">
        <a href="crew.html" class="menu__link">
          02
          CREW
        </a>
      </li>
      <li class="menu__item">
        <a href="technology.html" class="menu__link">
          03
          TECHNOLOGY
        </a>
      </li>
    </ul>
  </div>

</header>
