<section class="technology-hero">
  <div class="container">
    <h2 class="technology-hero__title">
      <span class="technology-hero__title--focus">03</span>
      SPACE LAUNCH 101
    </h2>

    <div class="swiper technology-hero__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="technology-hero__content">
            <div class="technology-hero__inner">
              <p class="technology-hero__descr">
                THE TERMINOLOGY…
              </p>
              <h3 class="technology-hero__subtitle">
                LAUNCH VEHICLE
              </h3>
              <p class="technology-hero__text">
                A launch vehicle or carrier rocket is a rocket-propelled vehicle used to carry a payload from Earth's
                surface to space,
                usually to Earth orbit or beyond. Our WEB-X carrier rocket is the most powerful in operation. Standing
                150 metres tall,
                it's quite an awe-inspiring sight on the launch pad!
              </p>
            </div>
            <picture>
              <img id="one" loading="lazy" src="img/image-launch-vehicle-landscape.avif"
                class="image technology-hero__img" width="" height="" alt="">
            </picture>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="technology-hero__content">
            <div class="technology-hero__inner">
              <p class="technology-hero__descr">
                THE TERMINOLOGY…
              </p>
              <h3 class="technology-hero__subtitle">
                SPACEPORT
              </h3>
              <p class="technology-hero__text">
                A spaceport or cosmodrome is a site for launching (or receiving) spacecraft, by analogy to the seaport
                for ships or
                airport for aircraft. Based in the famous Cape Canaveral, our spaceport is ideally situated to take
                advantage of the
                Earth’s rotation for launch.
              </p>
            </div>
            <picture>

              <img id="two" loading="lazy" src="img/image-spaceport-portrait.avif" class="image technology-hero__img"
                width="" height="" alt="">
            </picture>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="technology-hero__content">
            <div class="technology-hero__inner">
              <p class="technology-hero__descr">
                THE TERMINOLOGY…
              </p>
              <h3 class="technology-hero__subtitle">
                SPACE CAPSULE
              </h3>
              <p class="technology-hero__text">
                A space capsule is an often-crewed spacecraft that uses a blunt-body reentry capsule to reenter the
                Earth's atmosphere
                without wings. Our capsule is where you'll spend your time during the flight. It includes a space gym,
                cinema, and
                plenty of other activities to keep you entertained.
              </p>
            </div>
            <picture>

              <img id="three" loading="lazy" src="img/image-space-capsule-portrait.avif"
                class="image technology-hero__img" width="" height="" alt="">
            </picture>
          </div>
        </div>
      </div>
      <div class="technology-hero__nav"></div>
    </div>
  </div>
</section>
