// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Barlow Condensed", sans-serif;
  --content-width: 1470px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
  --lavender-color: #D0D6F9;
  --dark-color: #0B0D17;
}
